/*Global*/
body {
  font-family: 'Open Sans', sans-serif;
}

/*ContainerLobby*/
.ContainerLobby{
  position: relative;
}

.ContainerLobby::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: repeating-linear-gradient(90deg, #a5a4bb 0, #a5a4bb 5%, transparent 0, transparent 50%), repeating-linear-gradient(180deg, #a5a4bb 0, #a5a4bb 5%, transparent 0, transparent 50%);
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 0.4
}

/*FromLogin*/
.FormLogin p{
  display: inline-block;
  background-image: linear-gradient(to top, #fddb27, #fddb27 3px, #c89f0e 3px, #c89f0e);
  background-position: bottom;
  background-size: 100% 3px;
  background-repeat: no-repeat;
}

/*FormRegister*/
.FormRegister .text-desc{
  display: inline-block;
  background-image: linear-gradient(to top, #fddb27, #fddb27 3px, #c89f0e 3px, #c89f0e);
  background-position: bottom;
  background-size: 100% 3px;
  background-repeat: no-repeat;
}

/*FormUserInfo*/
.title-userinfo{
  display: inline-block;
  background-image: linear-gradient(to top, #fddb27, #fddb27 3px, #c89f0e 3px, #c89f0e);
  background-position: bottom;
  background-size: 100% 3px;
  background-repeat: no-repeat;
}